<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wybierz termin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>
    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>

</head>
<body th:object="${doc}">
    <div>Wybrano doktora:
    <b th:text="${doc.getFirstName()}">Brak imienia</b>
    <b th:text="${doc.getLastName()}">Brak nazwiska</b>
    </div>

    <div class="container">
        <form method="post" th:object="${date}">
            <div class="form-group row">
                <div class="col-md-4 mt-5">
                    <label for="date">Date of birth</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="date" autocomplete="off" th:field="*{date}"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Submit form</button>
        </form>

    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

    <script>
        $('.input-group.date').datepicker({
            autoclose: true,
            todayHighlight: true
        });
    </script>
</body>
</html>