<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wybierz termin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body th:object="${doc}">
    <div>Wybrano doktora:
    <b th:text="${doc.getFirstName()}">Brak imienia</b>
    <b th:text="${doc.getLastName()}">Brak nazwiska</b>
    </div>

    <div>
        <form method="post" th:object="${date}">
            <input type="date" th:value="${date}" th:field="${date}">
            <input type="submit" value="Wybierz">
        </form>
    </div>
</body>
</html>