<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel pracownika przychodni.</title>
</head>
<body>
<h1>
    Panel pracownika przychodni.
</h1>

<form action="#" th:action="@{/clinic-worker}" th:object="${boolin}" method="post">
    <p>
        <input type="radio" value="1" th:id="true" th:name="radio" th:field="${boolin.data}">Umów wizytę
    </p>
    <p>
        <input type="radio" value="2" th:id="false" th:name="radio" th:field="${boolin.data}">Odwołaj wizytę
    </p>
    <p>
        <input type="radio" value="3" th:id="true" th:name="radio" th:field="${boolin.data}">Dodaj pacjenta
    </p>
    <p>
        <input type="radio" value="4" th:id="true" th:name="radio" th:field="${boolin.data}">Zaktualizuj adres pacjenta
    </p>
    <p>
        <input type="submit" value="Przejdź dalej">
    </p>


</form>

<form action="/">
    <input type="submit" value="Wyloguj" />
</form>

</body>
</html>