<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wybierz lekarza</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Zapraszamy na super wizytę!</h1>

<form action="#" th:action="@{/appointments/doctor-selection}" th:object="${selectedDoctor}" method="post">
<table>
    <colgroup>
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
        <col span="1" style="width: 15%;">
    </colgroup>
    <thead>
    <tr>
        <th> Imię </th>
        <th> Nazwisko </th>
        <th> Specjalizacja </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${doctors.isEmpty()}">
        <td colspan="2"> Brak dostępnych lekarzy. </td>
    </tr>
    <tr th:each="doctor : ${doctors}">
        <td><input type="radio" name="doctorRadio" th:value="${doctor.id}" th:field="${selectedDoctor.data}"><span th:text="${doctor.getFirstName()}"> Imię </span></td>
        <td><span th:text="${doctor.getLastName()}"> Nazwisko </span></td>
        <td><span th:text="${doctor.getSpecialisation()}"> Specjalizacja </span></td>
    </tr>
    </tbody>
</table>
    <input type="submit" value="Wybierz"></input>
</form>
</body>
</html>


<!--
<form action="#" th:action="@{/appointments}" th:object="${appointment}" method="post">
    <p>Id:          <input type="text" th:field="*{id}" /></p>
    <p>Room_number: <input type="text" th:field="*{roomNumber}" /></p>
    <p>Date:        <input type="text" th:field="*{date}" /></p>
    <p>Patients_id: <input type="text" th:field="*{patientId}" /></p>
    <p>Employee_id: <input type="text" th:field="*{employeeId}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
-->