<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Wprowadź dane pacjenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Enter patients data</h1>
<div>
    <p th:if="${invalidBirthDate}">
        Wybrano niewłaściwą datę urodzenia!
    </p>
    <p th:if="${invalidData}">
        Wprowadzono niewystarczającą ilość danych!
    </p>
    <form action="#" th:action="@{/clinic/create-patient/enter-data-with-pesel}" method="post" th:object="${patient}">
        <table>
            <tr><td width="2"><b>Imię:</b></td> <td><input type="text" th:field="${patient.firstName}"></td></tr>
            <tr><td width="2"><b>Nazwisko:</b></td> <td><input type="text" th:field="${patient.lastName}"></td></tr>
            <tr><td width="2"><b>Data urodzenia:</b></td> <td><input type="date" th:field="${patient.birthDate}"></td></tr>
            <tr><td width="2"><b>Grupa krwii:</b></td> <td><select th:field="${patient.bloodType}">
                <option th:value="null" th:text="'NULL'"></option>
                <option th:value="'0+'" th:text="'0+'"></option>
                <option th:value="'0-'" th:text="'0-'"></option>
                <option th:value="'A+'" th:text="'A+'"></option>
                <option th:value="'A-'" th:text="'A-'"></option>
                <option th:value="'B+'" th:text="'B+'"></option>
                <option th:value="'B-'" th:text="'B-'"></option>
                <option th:value="'AB-'" th:text="'AB+'"></option>
                <option th:value="'AB-'" th:text="'AB-'"></option>
            </select> </td></tr>
            <tr><td width="2"><b>Numer telefonu</b></td> <td><input type="text" th:field="${patient.phoneNumber}"></td></tr>
            <tr><td width="2"><b>Kontaktowy numer:</b></td> <td><input type="text" th:field="${patient.contactPhone}"></td></tr>
            <tr><td width="2"><b>Email:</b></td> <td><input type="text" th:field="${patient.emailAddress}"></td></tr>
            <tr><td width="2"><b>Adres:</b></td> <td><input type="text" th:field="${patient.address}"></td></tr>
            <tr><td width="2"><b>Miasto:</b></td> <td><input type="text" th:field="${patient.city}"></td></tr>
            <tr><td width="2"><b>Kod pocztowy:</b></td> <td><input type="text" th:field="${patient.postcode}"></td></tr>
            <tr><td width="2"><b>Adres:</b></td> <td><input type="text" th:field="${patient.permanentAddress}"></td></tr>
            <tr><td width="2"><b>Miasto:</b></td> <td><input type="text" th:field="${patient.permanentCity}"></td></tr>
            <tr><td width="2"><b>Kod pocztowy:</b></td> <td><input type="text" th:field="${patient.permanentPostcode}"></td></tr>
        </table>
        <input type="submit" value="Wprowadź dane">
    </form>
</div>
</body>
</html>