<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel pacjenta.</title>
</head>
<body>
<h1>
    Panel pacjenta.
</h1>

<form action="#" th:action="@{/patient}" th:object="${choice}" method="post">
    <p th:if="${choice2==0}">
        Nie wybrano żadnej opcji.
    </p>
    <p>
        <input type="radio" value="1" th:id="make" th:name="radio" th:field="${choice.data}">Umów wizytę
    </p>
    <p>
        <input type="radio" value="2" th:id="cancel" th:name="radio" th:field="${choice.data}">Odwołaj wizytę
    </p>
    <p>
        <input type="radio" value="3" th:id="see" th:name="radio" th:field="${choice.data}">Przeglądaj umówione wizyty
    </p>
    <p>
        <input type="submit" value="Przejdź dalej">
    </p>

</form>
<form action="/">
    <input type="submit" value="Wyloguj" />
</form>

</body>
</html>